
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    
</head>

<body>
<div class="container">
    
    <div class="row">
        <div class="logo" style="background-color: darkorange">
            <a hef="home.html" style="font-size: 70px; color: aliceblue"><img src="~/Content/img/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">Admin Panel</a>
            
        </div>
        <div class="col-md-12"></div>
        <br/>
        <div class="col-md-3">
            <a href="/Admin/Kullanici/Index">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><strong>Users</strong></div>
                    <div class="panel-body text-center"><i class="fa fa-users fa-5x" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/Admin/Tur/Index">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><strong>Music Genres</strong></div>
                    <div class="panel-body text-center">
                        <i class="fa fa-music fa-5x" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/Admin/BlogAdmin/Index">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><strong>Blog</strong></div>
                    <div class="panel-body text-center">
                        <i class="fa fa-newspaper-o fa-5x" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/Admin/Admin/Index">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><strong>Statistics</strong></div>
                    <div class="panel-body text-center">
                        <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
    <div class="row">
        
        @RenderBody()
            
    </div>

</div>
    <footer class="py-5 bg-dark" style="background-color: darkorange">
        <div class="container">
            <p class="text-center"><a href="/Home/Index" style="color: aliceblue;">Home Page</a></p>
            <p class="m-0 text-center text-white">Copyright &copy; MuzikBurada.Com @DateTime.Now.Year.ToString()</p>
        </div>
        <!-- /.container -->
    </footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>

</html>
