@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<style>
    .error-template {padding: 40px 15px;text-align: center;}
    .error-actions {margin-top:15px;margin-bottom:15px;}
    .error-actions .btn { margin-right:10px; }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops !
                </h1>
                <h2>
                    Not found - 404
                </h2>
                <div class="error-details">
                    Something went wrong. Why don't you go back home page ?
                </div>
                <div class="error-actions">
                    <a href="/Home/Index" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Home Page</a>
                    @*</a><a href="/Home/Iletisim" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Bize Bildirin </a>*@
                </div>
            </div>
        </div>
    </div>
</div>
