@model Muzik.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container">
    <div class="row">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Hesap Ayarları</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Şifre:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Şifreni Değiştir", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt style="color:red">Hesabını Sil</dt>
                <dd>
                    <button type="button" >Sil</button>
                </dd>
        
        
            </dl>
        </div>

    </div>
</div>
