@using Microsoft.AspNet.Identity
@model Muzik.Models.IndexViewModel
@{
    ViewBag.Title = "Account Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br/><br /><br />
                       <h4>Account Settings</h4>
            <hr/>
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change Password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt style="color: red">Delete your account</dt>
                <dd>
                    <button type="button" class="btn btn-danger silBtn" style="cursor: pointer; width: 150px;" data-toggle="modal" data-target="#myModal" rel="@User.Identity.GetUserId()"><i class="fa fa-times"></i></button>
                </dd>
                <br /><br /><br />

            </dl>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4>Can't be serious !</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <p><span style="color: red">
    Are you sure to delete your account ?
    <br />There's no turning back !
</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="modalBtnSil" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>

    </div>
</div>
<script src="~/Content/vendor/jquery/jquery.min.js"></script>
<script>
    var id = "";
    $(".silBtn").click(function() {
        id =  $(this).attr("rel");
        console.log(id);
    });
    $("#modalBtnSil").click(function () {

        $.ajax({
            url: '/Home/KullaniciSil/' + id,
            type: "POST",
            success: function () {
                
            },
            error: function () {
                alert('Error occured');
            }
        });
    });

</script>